@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Redressed&display=swap');

.center{
    margin: 0 50px;
}

.link{
    color: #1e88e5;
}


.admin-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}