.music-player{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;

    &--size{
        height: 100px;
        width: 100%;
    }

    &--theme{
        background-color: #0012B6;
    }

    &__image{
        height: 50px;
        width: 50px;
    }

    &__info{
        margin-left: 30px;

        h4{
            font-weight: 500;
        }

        h5{
            font-weight: 300;
        }
    }

    &__singer{
        margin-top: 5px;
    }

    &__left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__center{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__right{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__songcontroller{
        margin: 0 50px;
        display: flex;
        width: 100%;
    }
}

#music-player{

    &__previous{
        cursor: pointer;
    }

    &__play-pause{
        cursor: pointer;
        margin: 0 40px;
    }

    &__next{
        cursor: pointer;
    }

    &__volume{
        cursor: pointer;

    }

    &__favorite{
        cursor: pointer;
        margin-left: 30px;
    }

    &__repeat{
        cursor: pointer;
        margin-left: 30px;
    }

    &__fullscreen{
        cursor: pointer;
        margin-left: 30px;
    }

    &__song-slider{
        cursor: pointer;
        width: 100%;
        margin: 0 20px;
        background-color: transparent;
    }

    &__voice-slider{
        cursor: pointer;
        margin: 0 20px;
        background-color: transparent;
    }
}

input[type="range"]::-moz-range-progress {
    background-color: #FF00E5;
}
input[type="range"]::-moz-range-track {  
    background-color: white;
}

input[type="range"]::-moz-range-thumb{
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-image: url('./../../../backend/public/images/move.png');
}