.admin{
    &-artists{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-top: 50px;
    }

    &-artist{
        box-shadow: 5px 5px 5px 5px lightgray;
        margin-right: 50px;
        margin-bottom: 50px;
        cursor: pointer;
        border-radius: 125px;
        position: relative;

        &--size{
            height: 250px;
            width: 250px;
        }

        &:hover{
            transform: translateX(5px);
            transition: transform .5s;
        }

        &__image{
            border-radius: 125px;
            height: 100%;
            width: 100%;
        }

        div{
            position: absolute;
            padding: 20px;
            bottom: 10px;
            left: 20%;
        }

        &__name{
            font-weight: 600;
            color: white;
        }
    }
}