.container{
    // overflow-x: scroll;
}

.albums{
    display: flex;
    list-style: none;
    margin-top: 50px;
    // overflow-x: scroll;

    // &--size{

    // }
}

.album{
    margin-right: 50px;

    &--size{
        height: 250px;
        width: 180px;
    }

    &__image{
        box-shadow: 4px 0px 4px 0px grey;

        &--size{
            width: 100%;
            height: 120px;
        }
    }

    &__singer{
        margin-top: 5px;
    }

    &__name{
        margin-top: 10px;
    }
}