.songform{
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;

    &--size{
        width: 35%;
        height: 70vh;
    }

    &--theme{
        background-color: rebeccapurple;
    }

    &-label{
        font-size: 12px;
        margin-top: 10px;
    }

    &-input{
        margin: 10px 0 5px 0 ;
        border: none;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
    }

    &-button{
        height: 45px;
        background-color: #1e88e5;
        border: none;
        cursor: pointer;
        color: white;
        margin-top: 50px;
        
        &:hover{
            border: 1px solid white;
        }
    }
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent{
    height: 100vh;
    width: 100vw;
    background-color: grey;
    // opacity: .4;
    position: fixed;
    top: 0;
}